.currentInfoMapContainer {
  display: flex;
  justify-content: space-between;
}

.currentInfoContainer {
  width: 60%;
}

@media screen and (max-width: 900px) {
  .currentInfoMapContainer {
    flex-direction: column;
  }

  .currentInfoContainer {
    width: 100%;
  }
}
