@font-face {
  font-family: Nunito;
  src: url('../../assets/fonts/Nunito-Regular.ttf');
}

.wrapper {
  color: #fff;
  padding: 0 5% 3%;
  height: 100%;
  background-size: cover;
  background-position: center;
  font-family: Nunito;
}
